﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Calculator</title>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnCalculate").click(function () {
                let urlTemplate = "api/CalculateTax?Amount=";
                let amount = $("#tbAmount").val();
                $.get(urlTemplate + amount).done(function (data) {
                    $("#calculatedTax").text(data);
                });

                let urlTemplate2 = "api/AmountDecreasingTax?Amount=";
                $.get(urlTemplate2 + amount).done(function (data) {
                    $("#amountDecreasingTax").text(parseFloat(data).toFixed(2));
                });
            });
        });

    </script>
</head>
<body>
    <div class="container">
        <h2>Tax Calculator</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                Calculate tax for year 2019.
                <br />
                <input type="number" id="tbAmount" /> zł <button id="btnCalculate">Calculate</button>
            </div>
            <div class="panel-body">
                <b>Tax for year 2019:</b> <span id="calculatedTax">0</span> zł
                <br />
                <b>Amount Decreasing Tax for year 2019:</b> <span id="amountDecreasingTax">0</span> zł
            </div>
        </div>
    </div>
</body>

</html>
